<div id="rss_feed" class="widget">	
	<div class="widget-top">		
		<div class="widget-content">	
			<h4 class="widgettitle"><%= t('.title') %></h4>	
			<ul> 
				<li class="clearfix">	
					<%= link_to t('.subscribe'), blog_rss_feed_url, :id => "rss_feed_subscribe"%>
				</li>
			</ul>
		</div> <!-- end .widget-content-->
	</div> <!-- end .widget-top-->
</div> <!-- end .widget -->
