<%= render :partial => "/shared/breadcrumbs" %>

	
<div class="clear"></div>
<div id="left-area">
	<div class="big-box">
		<div class="big-box-top">
			<div class="big-box-content">
				<div class="post clearfix single">																						
                    <%= @page[:body].html_safe %>											
					<div id="et_pt_gallery" class="clearfix">
						<%= render :partial => "/shared/gallery" %>
					</div> <!-- end #et_pt_gallery -->
				</div> 	<!-- end .post-->	
			</div> 	<!-- end .big-box-content-->		
		</div> 	<!-- end .big-box-top-->
	</div> 	<!-- end .big-box-->
</div> 	<!-- end #left-area -->

<% unless (sidebar = @page[:side_body].html_safe).blank? %>
<div id="sidebar">
	<div id="sidebar-bottom">
		<div id="sidebar-content">
			<%= @page[:side_body].html_safe %>
		</div> <!-- end #sidebar-content -->
	</div> <!-- end #sidebar-bottom -->
</div> <!-- end #sidebar -->
<% end %>